<ion-content>
 
  <div class="l1 lf"></div>
  <div class="l2 lf">

  </div><div class="l3 lf">

  </div><div class="l4 lf">
   
  </div>
  <div class="title">
    <h1> Hello <br> Farmer..</h1>
   </div>
   <div class="btn">

      <ion-button class="btnmargin" shape="round" color="primary" (click)="gotoarea()">
        <ion-icon name="calculator" slot="start " color="success"></ion-icon>
     Calculate area
      </ion-button>

      <ion-button class="btnmargin" shape="round" color="primary" (click)="gotoplant()">
        <ion-icon name="calculator" slot="start " color="success"></ion-icon>
     Calculate plants/trees number
      </ion-button>

      <ion-button class="btnmargin" shape="round" color="primary" (click)="gotowater()">
        <ion-icon name="calculator" slot="start " color="success"></ion-icon>
     Calculate water consumption
      </ion-button>
   </div>
</ion-content>